---
layout:           default
---
<div class="logo-name">
        <div class="logo-name-icon">
            <a >North D.K.</a>             
        </div>
        <div class="content">
	        <ul>
	        	<li><a class="fa fa-x fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
	        	<li><a class="fa fa-x fa-envelope" href="mailto:{{site.email}}"><span class="description">GitHub</span></a></li>
	        </ul>   
        </div>
</div>

{{ content }}





