---
layout:           default
---
<div class="logo-name">
        <div class="logo-name-icon">
            <a >North D.K.</a>             
        </div>
        
        <div class="moreinfo">
	        <ul>
	        	<li><a href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>	        	
	        </ul>   
        </div>
        <div class="moreinfo">
	        <ul>	        	
	        	<li><a href="mailto:{{site.email}}"><span class="description">Email</span></a></li>
	        </ul>   
        </div>
        <div class="moreinfo">
	        <ul>	        	
	        	<li><a href="mailto:never_dk@163.com"><span class="description">Tags</span></a></li>
	        </ul>   
        </div>
</div>

{{ content }}





