---
layout:           default
---
<div class="logo-name">
        <div class="logo-name-icon">
            <a >North D.K.</a>             
        </div>        
        <div class="moreinfo">
	        <ul>
	        	<li><a href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>	        		        	
	        </ul>   
        </div>
        <div class="moreinfo">
	        <ul>	        	
	        	<li><a href="mailto:{{site.email}}"><span class="description">Email</span></a></li>
	        </ul>   
        </div>
        <div class="taginfo">
	        <ul>	        	
	        	<li><a href="#" title = "get tags"><span class="description">Tags</span></a></li>
	        </ul>   
        </div>
        <div class="taginfo-show">			
        	<ul>        		
        		{% for tag in site.tags %}
            		<ul><a href="/pages/tags/{{ tag[0] }}">{{ tag[0] }}</a></ul>
            	{% endfor %}
            </ul>	
        </div>
        
</div>
<!--
<div class="taginfo-show">
    	<ul>
    		<li><a>haha</a></li>
    		{% for tag in site.tags %}
    			<li><a>haha</a></li>
    		{% endfor%}	
    	</ul>
</div>
-->

{{ content }}

	<script type="text/javascript">
        $(function(){
            $('.taginfo').click(function(e){
                e.preventDefault();

                if($('.taginfo-show').is(':visible')){
                    $('.taginfo-show').fadeOut(520);
                }else{
                    $('.taginfo-show').fadeIn(520);
                }
            });
        })
    </script>




