---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">#{{ page.tag }}  {{ page.date|date:"%Y-%m-%d" }}</p>
        
        {{ content }}        
        
   </div>
   
    <div class="sidenav">
    	<!-- if 的用法
        <h2>相关文章</h2>
        <ul class="artical-list">
        {% for post in site.categories %}
	        {% if post[0] == "homepage" %}
		        <li><a href="/">{{ post[0] }}</a></li>
		    {% else %}    
	            <li><a href="/{{ post[0]}}">{{ post[0] }}</a></li>
	        {% endif %}    
        {% endfor %}        
        </ul>
        -->
        
        <h2>相关文章</h2>        
        <ul class="artical-list">               
        {% for post in site.posts %}
        	{% if post.category == page.category %}
        	<li><a href="{{ post.url }}">{{ post.title }}</a></li>		       
        	{% endif %}
        {% endfor %}
        </ul> 		

        <a href="/technology.html"><h2>Technology</h2></a>        

        <a href="/humanity.html"><h2>Humanity</h2></a>
        
    </div>
</div>

<script src="/js/post.js" type="text/javascript"></script>
